{% extends 'base.html' %}

{% load static %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

  <!-- Imágenes -->
  <div class="carousel-inner">
    {% for service in services %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="carousel-img-container">
        <img src="{{ service.imagen.url }}" class="d-block w-100" alt="Imagen de {{ service.nombre }}">
        <!-- <h3 class="carousel-title">{{ service.title }}</h3>  -->
        <div class="carousel-caption d-md-block">
          <div class="black-bar">
            <a href="{% url 'services:service_detail' service.id %}" class="carousel__link">
              <h3>{{ service.title }}</h3>
            </a>

          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Botones de navegación -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>


<!-- Sección Nosotros -->
<section id="nosotros" class="about__us ">
  <h2 class="title__general">Sobre Nosotros</h2>
  <div class="about__content">
    <div class="about__image">
      <img src="{% static 'img/ingeneria01.webp' %}" alt="Imagen de Ingeniería Gabar">
    </div>
    <div class="about__text">
      <p>
        <strong>INGENIERÍA GABAR</strong> está ubicada en <strong>Viña del Mar, Región de Valparaíso</strong>, con una sucursal en <strong>Santiago</strong>.
        Somos una empresa de <strong>profesionales senior</strong> con más de <strong>25 años de experiencia</strong> en las siguientes áreas:
      </p>
      <ul class="about__experience">
        <li><i class="fas fa-industry"></i> Industria del Chancado</li>
        <li><i class="fas fa-hard-hat"></i> Industria Cementera</li>
        <li><i class="fas fa-tools"></i> Construcción</li>
        <li><i class="fas fa-bolt"></i> Energía</li>
        <li><i class="fas fa-mountain"></i> Minería</li>
      </ul>
      <p>
        Nuestro objetivo es contribuir al <strong>desarrollo económico y social</strong>, generando <strong>progreso y bienestar</strong> para nuestros clientes. 
        Contamos con un equipo multidisciplinario de <strong>ingenieros y técnicos especializados</strong>, ofreciendo soluciones <strong>innovadoras y de calidad</strong> en cada proyecto.
      </p>
      <p><strong>Servicios que ofrecemos:</strong></p>
      <ul class="about__services">
        {% for service in services %}
          <li>
            <a href="{% url 'services:service_detail' service.id %}">
              {{ service.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
      <p>
        En <strong>INGENIERÍA GABAR</strong>, estamos comprometidos con la <strong>excelencia</strong> en cada obra o proyecto.
        <span class="highlight">¡Cuente con nosotros para llevar sus ideas al siguiente nivel!</span>
      </p>
    </div>
  </div>
</section>






<!-- Sección Proyectos -->
<section id="servicios" class="slider__container">
  <h2 class="title__services">Servicios</h2>

  <!-- Swiper principal -->
  <div class="swiper slide__content mySwiper">

    <!-- Contenedor de tarjetas -->
    <div class="swiper-wrapper">
      {% for service in services %}
      <div class="swiper-slide card">
        <div class="image__box">
          <img src="{{ service.imagen.url }}" alt="Imagen de {{ service.title }}">
        </div>
        <div class="profile__details">
          <div class="name__job">
            <h3 class="name__title">{{ service.title }}</h3>
            <p class="name__description">{{ service.description }}</p>
          </div>
        </div>
        <a href="{% url 'services:service_detail' service.id %}" class="card__button">Leer Más</a>
      </div>
      {% endfor %}
    </div>

    <!-- Botones de navegación -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>
</section>

{% endblock %}